* {
  background: #17202a;
  margin: 0;
  padding: 0;
}

svg {
  fill: #fff;
}

.side-menu {
  font-size: 20px;
  width: 18em;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-right: 1px solid rgb(126, 126, 126);

  a {
    display: flex;
    align-items: center;
    height: 3em;
    width: 100%;
    text-decoration: none;
    padding-left: 5.85em;
    box-sizing: border-box;

    &:hover .text {
      color: #4ba0ec;
    }
    &:hover svg {
      fill: #4ba0ec;
    }
  }
  .icon {
    position: relative;
    display: flex;
    justify-content: center;

    .notification {
      position: absolute;
    }

    .small {
      position: absolute;
      top: -7px;
      left: 5px;
    }
  }
  .text {
    color: #fff;
    padding-left: 21px;
  }
}

.logo {
  display: flex;
  padding-top: 0.75em;
  padding-left: 117px;
  width: 361px;
  box-sizing: border-box;
  border-right: 1px solid rgb(126, 126, 126);
}

.tweet {
  display: inline-block;
  background: #4ba0ec;
  border-radius: 100px;
  height: 50px;
  width: 211px;
  margin-left: 105px;
  box-sizing: border-box;
  border-right: 1px solid rgb(126, 126, 126);

  a {
    text-decoration: none;
  }

  .tweet-text {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    background: none;
    line-height: 50px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
}

.side-menu--closed {
  width: 70px;

  a {
    display: flex;
    align-items: center;
    height: 2em;
    width: 100%;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .text {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    display: flex;
    padding-top: 0.75em;
    padding-left: 20px;
    width: 71px;
    box-sizing: border-box;
    border-right: 1px solid rgb(126, 126, 126);
  }
  .tweet {
    display: inline-block;
    height: 35px;
    width: 60px;
    margin-left: 5px;
    box-sizing: border-box;

    .tweet-text {
      font-weight: normal;
      line-height: 35px;
    }
  }
}
