* {
    background: #17202A;
    margin: 0;
    padding: 0;
}

svg {
    fill: #fff;
}

.side-menu {
    font-size: 20px;
    width: 18em;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    a {
        display: flex;
        align-items: center;
        height: 3em;
        width: 100%;
        text-decoration: none;
        padding-left: 5.85em;
        box-sizing: border-box;

        &:hover {
            fill: #a6c2e4;
            background: #2a3a4d;
        }
    }
    .icon {
        display: flex;
        justify-content: center;
    }
    .text {
        color: #fff;
        padding-left: 21px;
    }
}

.logo {
    display: flex;
    padding-top: 0.75em;
    padding-left: 117px;
    width: 360px;
    box-sizing: border-box;
}

a.tweet {
    display: inline-block;
    background: #4BA0EC;
    border-radius: 100px;
    height: 50px;
    width: 211px;
    margin-left: 105px;
    box-sizing: border-box;

    span {
        color: #fff;
        background: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}



